body {
    background-color: cornflowerblue;
    background-image: url("NMMU.JPG");
    background-repeat: fixed;
}  
 * {
     text-align: center; 
     color:white;
     background-color:white ;  
    }
h1, h2 {
    text-align: center;
    color: peachpuff;
    text-decoration-line: overline underline;
    background-color:black;
}

