body {
    background-color: cornflowerblue;
    background-image: url("NMMU.JPG");
    background-repeat: fixed;
}  
 * {
     text-align: center; 
     color:indigo;
     background-color: #EDECE5:
     width: 800px; 
     margin: auto;
     padding-top: 30px;
     color: #2E475D;
       
    }
h1, h2 {
    text-align: center;
    color: peachpuff;
    text-decoration-line: overline underline;
    background-color:black;
}

