body {
    background-color: cornflowerblue;
    background-image: url("NMMU.JPG");
    background-repeat: repeat-y;
}  
 * {text-align:right; color:indigo;}
h1, h2 {
    text-align: center;
    color: peachpuff;
    text-decoration-line: overline underline;
    background-color:black;
}

